body {
    background-color: #eee;
}
h1 {
    font-family: 'Crete Round', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

input, label {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.main-wrapper {
    max-width: 960px;
}

.body-wrapper {
    background-color: #fff;
    margin: auto;
    padding: 32px;
}

.syntax-output-wrapper {
    margin: auto;
    padding: 32px;
    margin-top: 1.5rem;
    background-color: #fff;
}
.syntax-output {
    margin-bottom: 0;
}

.syntax-output-body {
    white-space: pre;
    word-wrap: break-word;
}

.prettyprint {
    background: #fff;
    font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
    font-size: 1.2rem;
    -webkit-font-smoothing: antialiased;
}